__pycache__/
*.py[cod]
*.swp
.env
.env.*
!.env.sample
.idea/
.vscode/
*.log
*.sqlite3
*.db
*.egg-info/
.eggs/
build/
dist/
node_modules/
.DS_Store
docker-data/
data/
volumes/
miniodata/
pgdata/
qdrantdata/
